.container {
	width: 100%;
	button {
		border: 1px solid #e2e8f0;
		border-radius: 8px;
		padding: 0.8em 1.2em;
		width: 100%;
		background-color: var(--button-color, white);
		color: var(--font-color, black);
	}
}
