.container {
	// width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 0.8em;
	font-weight: bold;
	border-bottom: 1px solid #e2e8f0;
}
